<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/just_works.css">
  </head>
  <body>
    <form action="/data" method="POST">
      <p>Student name <input type="text" name="student name" required/></p>
      <p>Roll number<input type="text" name="roll number" required/></p>
      <p>
        <label for="stream">Choose a stream:</label>
        <select id="stream" name="stream" required>
          <option value="arts">Arts</option>
          <option value="commerce">Commerce</option>
          <option value="science">Science</option>
        </select>
      </p>

      <p>
        <label for="class">Choose class</label>
        <select id="class" name="class" requried>
          <option value="11">11</option>
          <option value="12">12</option>
          
        </select>
        
        <p>Academic year:<br/>
        <label for="year1">From:</label>
        <input type="number" id="year1" name="year1" required><br><br>
        <label for="year2">Till:</label>
        <input type="number" id="year2" name="year2" required><br><br>
      </p>
      </p>

      <p><input type="submit" value="submit" /></p>
    </form>
  </body>
</html>
