<!DOCTYPE html>
<html>
  <head>
    <title>attendance</title>
    <link rel="stylesheet" href="/static/output.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <div class="button">
        <a href="/">Home</a>
      </div>
    </nav>
    <br />
    <div class="button">
      <a href="attendance/stream/science">science</a>
    </div>

    <div class="button">
      <a href="attendance/stream/arts">arts</a>
    </div>
    <div class="button">
      <a href="attendance/stream/commerce">commerce</a>
    </div>
  </body>
</html>
