<!DOCTYPE html>
<html>
  <head>
    <title>attendance</title>
    <link rel="stylesheet" href="/static/output.css" />
  </head>
  <body>
    <nav>
      <div class="button">
        <a href="/">Home</a>
      </div>
    </nav>
    <form method="POST">
      {% for key, value in student_info.items()%}
      <div>
        <label>
          {{ roll_number_from_id(key) }}<input
            type="checkbox"
            name="{{key}}"
            value="{{value}}" />
          {{ value }}
        </label>
      </div>
      {%endfor%}

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
