<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Students</title>
    </head>
    <body>
        <form action="/students/search" method="POST">
            <div>
                <!-- Search -->
                <div>
                    <input
                        placeholder="Search for student"
                        name="search_query"
                        value=""
                    />
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
        <div>
            {% if list_of_info is defined and id_attendance_count_list is defined %}
                {% for index,a in enumerate(list_of_info) %}
                <div>
                    <p><strong>Name:</strong> {{ a['name'] }}</p>
                    <p><strong>Class:</strong> {{ a['class'] }}</p>
                    <p><strong>Roll number:</strong> {{ a['roll_no'] }}</p>
                    <p><strong>Stream:</strong> {{ a['stream'] }}</p>
                    <p><strong>ID:</strong> {{ a['id'] }}</p>
                    <p><strong>Academic year:</strong> {{ a['academic_year_from'] }} - {{ a['academic_year_to'] }}</p>
                    <p><strong>Present days:</strong>{{ id_attendance_count_list[index]['present'] }}</p>
                    <p><strong>Absent days:</strong>{{ id_attendance_count_list[index]['absent'] }}</p>
                    <p><strong>Attendance:</strong> {{ round((id_attendance_count_list[index]['present'] /(id_attendance_count_list[index]['present']+id_attendance_count_list[index]['absent']) *100 )) }}%</p>
                </div>
                <hr>
                {% endfor %} 
            {% endif %}
        </div>
        <div>
            {% if error is defined %}
            <p><strong>{{error}}</strong></p>
            {% endif %}
        </div>
        <div>
            {% if percentage is defined: %}
                {{ percentage }} % students are present in total 
            {% endif %}
        </div>
        <div>
        </div>
    </body>
</html>